<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fx.app"
    android:versionCode="1"
    android:versionName="0.9.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- payment -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:name="com.fx.app.FxApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/appName"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >

        <!-- 提供横屏或者竖屏游戏入口 -->
        <activity
            android:name="com.fx.app.MainActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="my_appId"
            android:value="cn.xjdownloader" />
        <meta-data
            android:name="my_channel"
            android:value="gaea" />
        <meta-data
            android:name="install_source"
            android:value="1473" />

        <receiver android:name="com.fx.app.FxReceiver" >
            <intent-filter>
                <action android:name="ELITOR_CLOCK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>